.clock{
  height: 200px;
  padding-bottom: 2%;
  background-color: #222222;
  
}


#background{
  border-radius: 1rem;
  background-color: hotpink;
  height: 600px;

}
.form{
  padding-top: 2%;
  text-align: center;
}
#cal{
  display: inline;

  width: 20%;
  
  position: absolute;
  right: 5%;
  top: 2%;
 
}